<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net452" />
  <package id="Dirkster.MLib" version="1.0.6" targetFramework="net452" />
  <package id="Dirkster.MsgBox" version="1.4.2" targetFramework="net451" />
  <package id="Dirkster.UserNotifications" version="1.4.1" targetFramework="net452" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net452" />
  <package id="Prism.Mef" version="7.0.0.269-pre" targetFramework="net452" />
  <package id="Prism.Wpf" version="7.0.0.336-pre" targetFramework="net452" />
</packages>