<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!-- modules -->
  <!--Edi.Tools assembly from plugins folder and initialize it if it was present -
		- HINT: Put complete path for testing without setup:
		     eg. assemblyFile="C:\Program Files\Edi\Files.dll"
		-

		- module assemblyFile="Output.dll" moduleType="Output.Module" moduleName="MEFLoadOutputTools" startupLoaded="true" / Is initialized ín BootStrapper -->
  <!-- module assemblyFile="Files.dll" moduleType="Files.Module" moduleName="MEFLoadFiles" startupLoaded="true" -->
  <!-- module assemblyFile="Edi.Documents.dll" moduleType="EdiDocuments.Module" moduleName="MEFLoadEdiDocuments" startupLoaded="true" / -->
  <!--<module assemblyFile="Plugins\Log4NetTools\Log4NetTools.dll" moduleType="Log4NetTools.Module" moduleName="MEFLoadLog4NetTools" startupLoaded="true" />-->
  <!--/modules -->

  <!--
  The <log4net> element supports the following attributes:
  debug     Optional attribute. Value must be either true or false. The default value is false.
            Set this attribute to true to enable internal log4net debugging for this configuration.

  update    Optional attribute. Value must be either Merge or Overwrite. The default value is Merge.
            Set this attribute to Overwrite to reset the configuration of the repository being configured
            before applying this configuration.

  threshold Optional attribute. Value must be the name of a level registered on the repository.
            The default value is ALL. Set this attribute to limit the messages that are logged
            across the whole repository, regardless of the logger that the message is logged to. 
  -->
  <log4net>
    <!-- Setup Description: http://stackoverflow.com/questions/8138072/log4net-file-appender-not-logging -->
    <!-- Ouput log information in XML readable format for Log4Net XML LogViewer (Open Source From Codeplex
       http://yourlog4netviewer.codeplex.com/
  -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="${TMP}\Edi_Log.log4j" />
      <!-- threshold value="DEBUG" / -->
      <appendToFile value="false" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <!-- threshold value="WARN" / -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>

    <root>
      <!-- Levels: Off, Fatal, Error, Warn, Info, Debug, All -->
      <level value="Warn" />
      <appender-ref ref="RollingFileAppender" />
      <!-- appender-ref ref="ConsoleAppender"/ -->
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.PubSubEvents" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism.Wpf" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.336" newVersion="7.0.0.336" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
